
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python3 -m streamlit run main.py --server.address 0.0.0.0 --server.port 5000 --server.headless true --server.enableCORS false --server.enableWebsocketCompression false"]

[[ports]]
localPort = 5000
externalPort = 80
